* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; 
}

h2 {
    margin: 0;
    }

.bannernovidades {
    width: 100%;
    padding-bottom: 5%;
    border-bottom: 4px solid #00000040;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;

}