* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    
}

main{

    h2 {
        text-align: center;
        margin-bottom: 5%;

    }
}

.cards img {
    display:inline;
    width: 22%;
    height: 50%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    margin-bottom: 5%;
    object-fit: cover;

    }

@media (max-width: 768px) {
  .cards {
    display: grid !important;              
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    padding-bottom: 6%;
  }

  h2 {
    padding-top: 3%;
    font-size: 1.2rem;
  }

  .cards img {
    width: 100%;
    height: auto;
    object-fit: cover;  
  }
}