@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    font-family: 'Roboto', sans-serif;

    ul{
        display: flex;
        list-style: none;
        width: 35vw;
        justify-content: space-around;
        flex-wrap: wrap;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .logo img{
        width: 225px;
        height: 75px;
    }
}