@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    font-family: 'Roboto', sans-serif;

    ul{
        display: flex;
        list-style: none;
        width: 35vw;
        justify-content: space-around;
        flex-wrap: wrap;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
    }

    img {
    width: 225px;
    height: 75px;
  }

   .menuDesktop {
    display: flex;
    list-style: none;
    width: auto;
    justify-content: space-around;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .menuMobile {
  display: none;
  width: 40px;       
  height: auto;     
  }
}

@media (max-width: 768px) {

  header ul {
    display: none !important; /* some a UL */
  }

  .menuMobile {
    display: block !important; /* mostra o ícone */
  }

  header img:first-child {
    width: 116px !important;
    height: auto;
  }

   .menuDesktop {
    display: none !important;
  }

  .menuMobile {
    display: block !important;
  }

  .logo {
    width: 116px !important;
    height: auto;
  }
}
