header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    ul{
        display: flex;
        list-style: none;
        width: 35vw;
        justify-content: space-around;
        flex-wrap: wrap;
        cursor: pointer;
    }

    .logo img{
        width: 225px;
        height: 75px;
    }
}