* {
    list-style: none;
}

.footer{
  display: flex;
  justify-content: space-between;
  gap: 15%;
  padding-top: 3%;
  font-family: 'Roboto', sans-serif;

}

.atendimento {
    margin-left: 77px;

     li {
        font-size: 1rem;
        font-weight: 300;
        font-family: "Roboto", sans-serif;
        margin-bottom: 6%;
        margin-right: 15%;
        cursor: pointer;
        white-space: nowrap;
        padding-bottom: 5%;
        font-weight: 300;
        color: #2D2D2D;
    }

      p{
      font-weight: 700;
      font-size: 1.2rem;
      font-family: "Roboto", sans-serif;
      margin-bottom: 8% ;
      }
}

.pagamento {

    p{
    font-weight: 700;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2% ;
    white-space: nowrap;
    }

}

.redes {
  p {
    font-weight: 700;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2%;
    white-space: nowrap;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
  }

  li {
    display: flex;
  }

  img {
    height: 35px;
    object-fit: contain;
  }
}

.formasDePagamento {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.formasDePagamento li {
  display: flex;       
}

.formasDePagamento img {
  height: 35px;         
  object-fit: contain;
}

@media (max-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    padding: 10px;
    margin-bottom: 2%;
  }

  .footer p {
    font-size: 0.8rem;
    margin-bottom: 5px !important;
    white-space: normal;
    margin-bottom: 2%;
    
  }

  .atendimento {
    margin-left: 0 !important;

    li {
      font-size: 0.8rem !important;
      margin-bottom: 1%;
    }
  }

  .formasDePagamento {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    width: 100% !important;
    margin-left: 0 !important;

    li {
      width: 45%; 
      display: flex;
      align-items: center;
    }

    img {
      width: 35px;
      height: auto;
    }
  }

  .redes img {
    width: 28px;
    height: auto;
  }
}
