* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h2 {
    margin: 5%;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;

    
}

.container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 8%;
    
}

button {
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 3%;
    margin-bottom: 3%;
    

    button .img{
        width: 60px;
        margin-top: 3%;
        margin-right: 10%;
        margin-bottom: 3%;
    }
}


.batons {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    
    

    img {
        width: 130px;
        object-fit: cover;
        margin-bottom: 14px ;
    }

}

.imgcentral > img {
  width: 418px;
  height: auto;
  margin-right: 3%;
  
}

.info {
    border-left: 2px solid #00000040 ;
    border-bottom: 4px solid #00000040;
    border-right: 2px solid #00000040;
    width: 48%;
    height: 42%;
    padding: 2%;
    font-family: "Roboto", sans-serif;

    h3{
        margin-bottom: 5%;
        font-size: 1.4rem;
        font-family: 'Roboto', sans-serif;
    }

    h4 {
        font-size: 1.2rem;
        margin-bottom: 3%;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }

    .subtitulo {
        font-size: 0.8rem;
        margin-bottom: 3%;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }

    .descricao {
        margin-bottom: 4%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        
    }
}

@media (max-width: 768px) {


h2 {
font-size: 1.4rem;
margin-top: 10%;
}

.container {
flex-direction: column;
align-items: center;
gap: 2rem;
padding: 5%;
}

.batons {
display: none;
}

.imgcentral img {
width: 220px;
height: auto;
margin: 0 auto;
display: block;
}

.info {
width: 100%;
border-left: none;
border-right: none;
border-bottom: none;
text-align: center;
padding: 5%;
}

.info img {
margin: 0 auto 10px auto;
display: block;
}

.info h3 {
font-size: 1.1rem;
margin-bottom: 10px;
}

.info .subtitulo {
margin-bottom: 10px;
font-size: 0.9rem;
}

.info button img {
width: 35px;
}

.info button {
margin: 0 5px 15px 5px;
}

.info h4 {
margin: 15px 0 10px 0;
font-size: 1rem;
}

.info .descricao {
font-size: 0.9rem;
line-height: 1.4;
padding: 0 5px;
}
}