* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h2 {
    margin: 5%;
    text-align: center;
    font-size: 2.5rem;

    
}

.container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 8%;
    
}

button {
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 3%;
    margin-bottom: 3%;
    

    button .img{
        width: 60px;
        margin-top: 3%;
        margin-right: 10%;
        margin-bottom: 3%;
    }
}


.batons {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    
    

    img {
        width: 130px;
        object-fit: cover;
        margin-bottom: 14px ;
    }

}

.imgcentral > img {
  width: 418px;
  height: auto;
  margin-right: 3%;
  
}

.info {
    border-left: 2px solid #00000040 ;
    border-bottom: 4px solid #00000040;
    border-right: 2px solid #00000040;
    width: 48%;
    height: 42%;
    padding: 2%;
    font-family: "Roboto", sans-serif;

    h3{
        margin-bottom: 5%;
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
        margin-bottom: 3%;
    }

    .subtitulo {
        font-size: 0.8rem;
        margin-bottom: 3%;
    }

    .descricao {
        margin-bottom: 4%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        font-size: 1rem;
        
    }
}